<div id="stream-page">
  <ng-container *ngIf="loaderService.loading else dataBlock">
    <div id="loading">
      <app-loader></app-loader>
    </div>
  </ng-container>

  <ng-template #dataBlock>
    <ng-container *ngIf="hasData() else noDataBlock" [@inOutAnimation]>
      <div class="stream-container">
        <div class="stream-content" *ngFor="let currItem of streamData">
          <app-stream-item [dataStreamSummary]="currItem"></app-stream-item>
        </div>
      </div>

    </ng-container>
    <ng-template #noDataBlock>
      <div>
        Aucune donnée à afficher !
      </div>
    </ng-template>
  </ng-template>
</div>

