#stream-page {
	position: relative;
	height: calc(100vh - 64px);
	width: 90%;
	margin: auto;
}

.stream-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 36px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.stream-content {
	width: 22em;
	margin-bottom: 40px;
}
