<ng-container *ngIf="dataStreamSummary">
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title>{{dataStreamSummary.month}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
      <div class="icon-text-section">
        <img src="../../assets/thermometer.svg" alt="thermometer">
        <div class="values-section">
          <span class="maxTemp">{{dataStreamSummary.maxTemperature}}</span>
          <span class="minTemp">{{dataStreamSummary.minTemperature}}</span>
        </div>
      </div>
      <div class="icon-text-section">
        <img src="../../assets/fire-extinguisher.svg" alt="fire-extinguisher">
        <div class="values-section">
          <span>{{dataStreamSummary.nbFire}}</span>
          <ng-container [ngSwitch]="dataStreamSummary.nbFire">
            <ng-container *ngSwitchCase="0">
              <ng-container *ngTemplateOutlet="singleFire"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="1">
              <ng-container *ngTemplateOutlet="singleFire"></ng-container>
            </ng-container>
            <span *ngSwitchDefault class="description-fire-forest-value">Feux de forêts</span>
            <ng-template #singleFire>
              <span class="description-fire-forest-value">Feu de forêts</span>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
